body {
  font: serif;
  background-color: #869E54;
  color: #0F0F40;
  }
ul {
  list-style: none;
}
nav ul {
  float: right;
}
nav li {
  display: inline-block;
}
.column {
  width: 48%;
  float:left;
}
aside {
  float: left;
  padding: .5em;
  border: solid .1em #0F0F40;
  height: 20em;
  background-color: #E2E1B3;
  width: 15%;
}
.main {
  margin-top: 2em;
}
.contentarea {
  float: right;
  border: solid .1em #0F0F40;
  width: 70%;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #E2E1B3;
}


header {
  border: solid .1em #0F0F40;
  text-align: center;
  background-color: #E2E1B3;
  padding: 1em;
}
footer {
  border: solid .1em #0F0F40;
  margin-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  background-color: #E2E1B3;
}
h1,h3 {
  font: sans-serif;
}
#pizzaimage img {
  width: 90%
}
#pizzaimage p {
  position: absolute;
  top: 33em;
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
.clear:after {
    clear: both;
}
.clear {
  clear: both;
}
/* For IE 6/7 only */
.clear {
    *zoom: 1;
}
.round {
  -moz-border-radius: .7em;
  -webkit-border-radius: .7em;
  border-radius:.7em;
}
a:link {
  color: #3E1D6F;
}
a:visited {
  color: #168487;
}
a:hover {
  text-decoration: none;
}
