body {
  margin: 0;
  background-color: #92959D;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: .1em;
}

header {
  position: relative;
  margin: 0;
  margin-bottom: 2em;
  border-bottom: solid .1em black;
  padding: 2em;
  height: 8.5em;
  background-color: #CCE7F0;
  background-image: url('../images/tubes.png');
  background-repeat:no-repeat;
  background-position:right;
  background-size: contain;
}
nav {
  position: absolute;
  bottom: 0;
  left: 2em;
  border-top: solid 1px black;
  padding: .5em;
}
.fixednav {
  border: solid .1em black;
  -moz-border-radius: .7em;
  -webkit-border-radius: .7em;
  border-radius: .7em;
  background-color: #CCE7F0;
  position: fixed;
  top: 1em;
  left: 0;
  padding-top: .5em;
  padding-bottom: .5em;
  bottom: auto;
}
.fixednav li {
  float: none;
  margin: 0;
  margin-bottom: .2em;
}
.fixednav li:last {
  margin-bottom: 0;
}

.fixednav ul ul {
  left: 50px;
  width: 20em;
}

nav li {
  float:left; list-style-type:none;
  text-align: center;
  margin-right: .5em;
  margin-left: .5em;
}

nav ul ul { display:none;
            position:absolute;
            top:10;
            background:#CCE7F0;
            border:solid .1em black;
            -moz-border-radius: .7em;
            -webkit-border-radius: .7em;
            border-radius: .7em;
            padding: 1em;

}
nav ul ul li { float:none; }

/*icons for nav menu*/
#homeicon {
  background: url("../../imgs/spritemap.png") -60px 0px;
  height: 60px;
  width: 60px;
}
#blogicon {
  background: url("../../imgs/spritemap.png") 0px 0px;
  height: 60px;
  width: 60px;
}
#projecticon {
  background: url("../../imgs/spritemap.png") -120px 0px;
  height: 60px;
  width: 60px;
}
#abouticon {
  background: url("../../imgs/spritemap.png") -360px 0px;
  height: 60px;
  width: 60px;
}
#twittericon {
  background: url("../../imgs/spritemap.png") -300px 0px;
  height: 60px;
  width: 60px;
}
#emailicon {
  background: url("../../imgs/spritemap.png") -180px 0px;
  height: 60px;
  width: 60px;
}
#githubicon {
  background: url("../../imgs/spritemap.png") -240px 0px;
  height: 60px;
  width: 60px;
}
#homeicon:hover {
  background: url("../../imgs/spritemap.png") -60px 60px;
}
#blogicon:hover {
  background: url("../../imgs/spritemap.png") 0px 60px;
}
#projecticon:hover {
  background: url("../../imgs/spritemap.png") -120px 60px;
}
#abouticon:hover {
  background: url("../../imgs/spritemap.png") -360px 60px;
}
#twittericon:hover {
  background: url("../../imgs/spritemap.png") -300px 60px;
}
#emailicon:hover {
  background: url("../../imgs/spritemap.png") -180px 60px;
}
#githubicon:hover {
  background: url("../../imgs/spritemap.png") -240px 60px;
}


/* large icons for launch pad*/
#blogiconlg {
  background: url("../../imgs/spritemaplg.png") 0px 0px;
  height: 120px;
  width: 120px;
}
#projecticonlg {
  background: url("../../imgs/spritemaplg.png") -240px 0px;
  height: 120px;
  width: 120px;
}
#abouticonlg {
  background: url("../../imgs/spritemaplg.png") -720px 0px;
  height: 120px;
  width: 120px;
}
#twittericonlg {
  background: url("../../imgs/spritemaplg.png") -600px 0px;
  height: 120px;
  width: 120px;
}
#emailiconlg {
  background: url("../../imgs/spritemaplg.png") -360px 0px;
  height: 120px;
  width: 120px;
}
#githubiconlg {
  background: url("../../imgs/spritemaplg.png") -480px 0px;
  height: 120px;
  width: 120px;
}
#blogiconlg:hover {
  background: url("../../imgs/spritemaplg.png") 0px 120px;
}
#projecticonlg:hover {
  background: url("../../imgs/spritemaplg.png") -240px 120px;
}
#abouticon:lghover {
  background: url("../../imgs/spritemaplg.png") -720px 120px;
}
#twittericonlg:hover {
  background: url("../../imgs/spritemaplg.png") -600px 120px;
}
#emailiconlg:hover {
  background: url("../../imgs/spritemaplg.png") -360px 120px;
}
#githubiconlg:hover {
  background: url("../../imgs/spritemaplg.png") -480px 120px;
}

.launchpad {
  text-align: center;
}
.launchbuttons {
  display: inline-block;
  margin: 2em;
  text-align: center;
}

.menu {
  color: #FF6201
}

.centered {
  text-align: center;
}

section {
  background-color: #CCE7F0;
  border: solid .1em black;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin: auto;
  width: 80%;
  max-width: 50em;
  -moz-border-radius: .7em;
  -webkit-border-radius: .7em;
  border-radius:.7em;
}

section ul {
  margin-left: 5em;
  margin-top: 1em;
}
section ul li {
  margin-top: .5em;
}

pre {
  margin: 1em;
  margin-left: 4em;
  border-left: solid .1em #FF6201;
  padding: .5em;
  padding-left: 1em;
}

h1 {
  margin-top: .5em;
  font-size: 250%;
  text-align: center;
  font-family: serif;
  letter-spacing: .1em;
}
h2 {
  margin-top: 1em;
  text-align: center;
  font-size: 175%;
  font-family: serif;
  letter-spacing: .1em;
}
h3 {
  margin-top: 1em;
  margin-left: 2em;
  font-size: 150%;
  font-family: serif;
  letter-spacing: .1em;
}
h4 {
  text-align: center;
  margin-top: 1em;
  font-size: 150%;
  font-family: serif;
  letter-spacing: .1em;
}
h6 {
  /*font-weight: bold;*/
  font-size: 100%;
  font-family: serif;
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
}

.column {
  float: left;
  width:50%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.column ul {
  text-align: center;
  margin-top: 1em;
}

#me {
  position: relative;
  top: -1em;
  left: 1em;
  float: left;
  height: 6em;
  width: 6em;
  border: solid 1px black;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  border-radius: 3em;
  background-image: url('https://secure.gravatar.com/avatar/6838f4bf6114358bd3bc69182ef8332a.png?r=PG&d=mm&s=120');
  background-size: contain;
}


code {
  display: block;
  font-size: 80%;
}
a:link {
  color: #FF6201;
  text-decoration: none;
}
a:visited {
  color: #FF8501;
}
a:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
  margin-top: 1em;
  line-height: 150%;
  letter-spacing: .1em;
}

.shrink {
  width: 100%;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

@media screen and (max-width: 1030px) {
    section {
    margin-left: 90px;
    margin-right: auto;
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  header {
    height: 10em;
  }
}

@media screen and (max-width: 590px) {

  header {
    height: 6em;
  }

  .column {
    width: 100%;
    float: none;
  }

  section {
    margin-left: 90px;
    margin-right: 5px;
    width: auto;
  }

  nav {
    border: solid .1em black;
    -moz-border-radius: .7em;
    -webkit-border-radius: .7em;
    border-radius: .7em;
    background-color: #CCE7F0;
    position: absolute;
    top: 12em;
    left: 0em;
    padding-top: .5em;
    padding-bottom: .5em;
    bottom: auto;
  }
  nav li {
    float: none;
    margin: 0;
    margin-bottom: .2em;
  }
  nav li:last {
    margin-bottom: 0;
  }
}
